Repository owncloud/customgroups, pull requests merged in 2018-11, with the labels that each got.

#131 Switch to yarn
  bower.json
  package.json
  rules/deps.mk
  rules/dist.mk
  rules/frontend.mk
  rules/tests.mk
  templates/index.php
  yarn.lock
Labels: 3 - To Review

#174 Adjust check for fields of share response
  tests/acceptance/features/apiCustomGroups/sharingCustomGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#146 Fix the inconsistancy in symfony events arguments
  lib/Dav/GroupMembershipCollection.php
  lib/Dav/GroupsCollection.php
  lib/Dav/MembershipNode.php
  lib/Service/MembershipHelper.php
  tests/unit/Dav/GroupMembershipCollectionTest.php
  tests/unit/Dav/GroupsCollectionTest.php
  tests/unit/Dav/MembershipNodeTest.php
  tests/unit/Service/MembershipHelperTest.php
Labels: 4 - To release

#176 Adjust CI
  .php_cs.dist
  Makefile
Labels: 4 - To release, QA-team, dev:acceptance-tests

#173 Add .drone.yml file and fix makefile
  .drone.yml
  Makefile
  composer.json
  composer.lock
  phpunit.xml
  rules/tests.mk
  tests/unit/phpunit.xml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#179 Adjust acceptance test steps changed in core
  tests/acceptance/features/apiCustomGroups/sharingCustomGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#183 Use new theResponseWhenUserGetsInfoOfLastShareShouldInclude step
  tests/acceptance/features/apiCustomGroups/sharingCustomGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#182 Fix code style and add code style check in drone
  .drone.yml
  .php_cs.dist
  appinfo/app.php
  lib/AdminPanel.php
  lib/Application.php
  lib/Controller/PageController.php
  lib/CustomGroupsBackend.php
  lib/CustomGroupsDatabaseHandler.php
  lib/Dav/CustomGroupsPlugin.php
  lib/Dav/GroupMembershipCollection.php
  lib/Dav/GroupsCollection.php
  lib/Dav/MembershipNode.php
  lib/Dav/ReportRequest.php
  lib/Dav/Roles.php
  lib/Notifier.php
  lib/Service/MembershipHelper.php
  lib/SettingsPanel.php
  lib/SettingsSection.php
  templates/admin.php
  tests/unit/CustomGroupsBackendTest.php
  tests/unit/CustomGroupsDatabaseHandlerTest.php
  tests/unit/CustomGroupsPluginTest.php
  tests/unit/Dav/GroupMembershipCollectionTest.php
  tests/unit/Dav/GroupsCollectionTest.php
  tests/unit/Dav/MembershipNodeTest.php
  tests/unit/Dav/RolesTest.php
  tests/unit/Dav/RootCollectionTest.php
  tests/unit/Dav/UsersCollectionTest.php
  tests/unit/PageControllerTest.php
  tests/unit/Service/MembershipHelperTest.php
  tests/unit/SettingsPanelTest.php
  tests/unit/bootstrap.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#184 Remove .travis.yml file as tests are now in drone
  .drone.yml
  .travis.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#186 Adjust user creation test steps
  tests/acceptance/features/apiCustomGroups/customGroups.feature
  tests/acceptance/features/apiCustomGroups/sharingCustomGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests
