Repository owncloud/customgroups, pull requests merged in 2019-07, with the labels that each got.

#223 fix bootstap according to new standard
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#222 customgroups test against latest tarball
  .drone.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#224 Use words for permissions in tests
  tests/acceptance/features/apiCustomGroups/sharingCustomGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#225 Remove stable10 test jobs
  .drone.yml
Labels: 4 - To release, Drone, QA-team
